.course img{
    height: 150px;
}
.items img{
    height: 250px;
}
.img-review{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* margin: auto; */
}
.cards{
    background-color: black;
}
.sss{
    background-color: rgb(39, 39, 39);
    color: white;
    width: 280px;
}
.dis{
    background-color: black;
    color: white;
}
.badge{
    padding: 0px;
    width: fit-content;
}
@media(max-width:992px){
    .sss{
        /* background-color: aqua; */
        width: 330px;
    }
}
@media(max-width:800px){
    .sss{
        /* background-color: aqua; */
        width: 100%;
    }
}